/*
* ITG font classes
*/

.h1, h1{
  @include h1($font-size:5rem !important, $line-height: 6rem !important)
}
.h2, h2{
  &:not(#CybotCookiebotDialogBodyContentTitle){
    @include h2($font-size:4rem !important, $line-height: 4.75rem !important);
  }
}
.h3, h3{
  @include h3($font-size:3.5rem !important, $line-height: 4.1875rem !important)
}
.h4, h4{
  @include h4($font-size:2.5rem !important, $line-height: 3rem !important)
}
.h5, h5{
  @include h5($font-size:2rem !important, $line-height: 2.75rem !important)
}
.h6, h6{
  @include h6($font-size:1.5rem !important, $line-height: 2.0625rem !important)
}

.p5{
  @include p5($font-size:2.5rem !important, $line-height: 3rem !important)
}
.p4{
  @include p4($font-size:2rem !important, $line-height: 2.75rem !important)
}
.p3{
  @include p3($font-size:1.5rem !important, $line-height: 2.0625rem !important)
}
.p2{
  @include p2($font-size:1.125rem !important, $line-height: 1.75rem !important)
}
.p1{
  @include p1($font-size:1rem !important, $line-height: 1.5625rem !important)
}

@media screen and (max-width: 768px)  {
  .h2, h2, .h3, h3, .h4, h4 {
    @include h2($font-size:2rem !important, $line-height: 2.75rem !important)
  }
  .h5, h5 {
    @include h5($font-size:1.5rem !important, $line-height: 2.0625rem !important)
  }
  .h6, h6 {
    @include h6($font-size:1.125rem !important, $line-height: 1.75rem !important)
  }
  .p4{
    @include p4($font-size:1.5rem !important, $line-height: 2.0625rem !important)
  }
  .p3{
    @include p3($font-size:1.125rem !important, $line-height: 2.0625rem !important)
  }
  .p2,
  .p1{
    @include p1($font-size:1rem !important, $line-height: 1.5625rem !important)
  }
}

/*
* ITG BULMA OVERRIDES
*/
$gap: 32px;
$widescreen: 1248px + 2 * $gap;
$fullhd-enabled: false;
$tablet:	768px;
//$desktop: 1025px;

// Headings
h1{
  @include h1;
}
h2{
  @include h2;
}
h3{
  @include h3;
}
h4{
  @include h4;
}
h5{
  @include h5;
}
h6{
  @include h6;
}

// SCROLL
html {
  scroll-behavior: smooth;
}

strong {
  color: unset !important;
}

.section.has-no-padding{
  padding-top: 0!important;
  padding-bottom: 0!important;
}