.itgBlock {
  &__ItgCarouselNumbers {

    &--sliderWrapper{
      align-items: center;

      @include from($tablet) {
        justify-content: center;
      }
    }

    &--single {
      height: auto;
      align-self: flex-start;
      @media screen and (min-width: $tablet) and (max-width: $desktop)  {
        width: 50% !important;
      }
    }
  }
}
