.itgBlock-report-list {

  &__title {
    @include mobile {
      text-align: initial;
    }
    @include tablet-only {
      width: 66.6%;
      flex: none;
      text-align: center;
    }
    @include until($desktop) {
      line-height: 2.5rem;
      padding-top: 0;
      padding-bottom: 16px;

      margin-left: auto;
      margin-right: auto;

      font-weight: 800 !important;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include h5(2rem !important, 2.75rem !important);
        font-weight: 800 !important;
      }
    }
  }

  &__file-container {
    margin-left: auto;
    margin-right: auto;
    @include until($desktop) {
      flex: none;
    }
  }

  &__file {
    @include mobile {
      justify-content: left;
    }

    @include tablet-only {
      align-items: center;
      justify-content: center;
    }

    &-icon {
      &-container {
        @include until($desktop) {
          flex: none;
        }
      }
      &-image {
        width: 56px;
        height: 56px;
        background: $itg__white;
        background-image: url('src/images/icons/download.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        &.blue-1 {
          background: $itg__blue-1;
          background-image: url('src/images/icons/download_white.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &-title {
      @include until($desktop) {
        padding-left: 12px !important;
      }

      a {
        color: $itg__white !important;
        @include until($desktop) {
          word-break: break-word;
        }
        &:hover {
          text-decoration: underline;
        }

      }

      &-1strow {
        @include until($desktop) {
          font-weight: 700;
        }
      }

      &-2ndrow {
        color: $itg__grey-2;
        @include until($desktop) {
          color: $itg__white;
          opacity: 0.75;
        }
      }
    }
  }


  &__description {
    &-touch {
      @include mobile {
        text-align: left;
        @include  p2(1.125rem !important, 1.75rem !important);
      }
      @include tablet-only {
        text-align: center;
        @include p3(1.5rem !important, 2.0625rem !important);
      }
    }
    @include tablet-only {
      width: 83.3% !important;
    }
    @include touch {
      margin-left: auto;
      margin-right: auto;
    }
    @include until($desktop) {
      padding-top: 0;
    }
    display: flex;
    align-items: flex-end;

    p {
      margin-bottom: 0;
    }
  }

}