.itgBlock {
  &__ItgCarouselLaunches {

    // slider

    .swiper-container {
      width: 100%;
    }
    .swiper-slide {
      overflow: hidden;
    }
    .itgBlock__ItgCarouselLaunches--buttons {
      text-align: left;
    }
    .itgBlock__ItgCarouselLaunches--button {
      position: static;
      top: auto;
      left: auto;
      margin-top: 0;
      display: inline-block;
    }

    &--single {
      width: 100%;

      .itgBlock-singleLaunch {

        & > .container > .columns.is-desktop {
          @include until($desktop) {
            margin: 0 !important;
          }
        }

        &__image-layer {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: $itg__blue-1-30;

          .itgBlock__ItgCarouselLaunches--buttons {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            box-sizing: border-box;
          }
        }

        &__content {
          box-sizing: border-box;
          @include from($desktop) {
            max-width: 740px !important;
          }
        }
      }

    }
  }
}
.itgBlock-singleLaunch .columns.reverse .itgBlock__ItgCarouselLaunches--buttons {
  text-align: right;
}
