.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
@media(max-width: 1023px) {
	nav.navbar {
		height: 80px;
		.navbar-menu{
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
	.navbar-burger{
		margin: 12px 12px 12px 20px;
		position: absolute;
		z-index: 3;
		border-color: $itg__blue-1!important;
		border-width: 3px;
		color: $itg__blue-1;
		&:hover{
			background-color: $itg__white;
		}
		&.is-active{
			border-color: $itg__blue-3!important;
			span{
				width: 20px;
				color: $itg__blue-3;
				left: calc(50% - 10px);
				height: 2px;
				&:nth-child(3){
					-webkit-transform: translateY(-7px) rotate(-45deg);
										transform: translateY(-7px) rotate(	-45deg);
				}
			}
		}
		span{
			width: 20px;
			color: $itg__blue-1;
			left: calc(50% - 10px);
			height: 3px;
			&:nth-child(2){
				top: calc(50% - 0px);
			}
			&:nth-child(3){
				top: calc(50% + 6px);
			}
		}
	}
	.navbar-brand-centered{
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			text-align: center;
			display: block;
			text-align: center;
			margin: 0 auto;
			z-index: 0;

		.navbar-item{
			margin: 10px auto;
			width: 100%;
			display: block!important;
		}
	}


	$main-menu-bg: #f2f2f2;

	// Mobile Menu Button
	.main-menu-toggle {
			// include SVG icon
			border: none;
			cursor: pointer;
			display: inline-block;
			font-size: 300%;
			left: -2px;
			outline: none;
			padding: .7em;
			position: absolute;
			top: -60px;
			z-index: 50;

			&:hover {
					opacity: .8;
			}
	}

	// Menu styles
	// Nav
	.main-menu-toggle {
			background-color: $main-menu-bg;
			height: 100%;
			left: 0;
			overflow-y: auto;
			position: fixed;
			transform: translateX(-100%);
			top:0;
			width: 100%;
			z-index: 100;
			-webkit-overflow-scrolling: touch;

			&.active {
					transition: all 0.5s;

			}

			&.is-visible {
					transform: translateX(0);
			}
	}

	// UL
.main-menu__list {
			height: 100%;
			padding: 0;
			margin: 0;
			transition: all 0.35s;
			padding-bottom: 20px;
			// @TODO make this 3 level support infinite
			&.is-active-1 {
					transform: translateX(-100%);

					.open {
							height: 100%;
							position: static;
							z-index: 1;

							ul {
									display: block;
									width: 100%;
							}
					}

					.open a[data-childlevel="1"] + ul {
							height: 100%;
							height: auto;
							background-color: $itg__blue-1;
							height: 100vw!important;
							li{
								a{
									color: $itg__white;
								}
							}
							& > li {
									height: auto;
							}
					}
			}

			&.is-active-2 {
					transform: translateX(-200%);

					.open {
							height: 100%;
							position: static;
							z-index: 1;
							height: auto;
							ul {
									display: block;
									width: 100%;
							}

							// iPhone 5S requires parent to be static even though child is fixed.
							> ul > li {
									position: static;
							}
					}

					.open a[data-childlevel="2"] + ul {
							height: 100%;
							background-color: $itg__blue-1;
							height: 100vw!important;
							& > li {
									height: auto;
							}
							li{
								a{
									color: $itg__white!important;;
								}
							}
					}
					.open a[data-childlevel="2"] ul.third_child{
						z-index: 9;
					}

					.open .open a[data-childlevel="2"] + ul {
						height: 100%;
						background-color: $itg__blue-1;
						height: 100vw!important;
						z-index: 9;
						& > li {
								height: auto;
						}
						li{
							a{
								color: $itg__white!important;;
							}
						}
				}
				.open a[data-childlevel="2"] ul.third_child{
					z-index: 9;
				}
			}
			&.is-active-3 {
				transform: translateX(-300%);

				.open {
						height: 100%;
						position: static;
						z-index: 1;
						height: auto;
						ul {
								display: block;
								width: 100%;
						}

						// iPhone 5S requires parent to be static even though child is fixed.
						> ul > li {
								position: static;
						}
				}

				.open a[data-childlevel="3"] + ul {
						height: 100%;
						background-color: $itg__blue-1;
						& > li {
								height: auto;
						}
						li{
							a{
								color: $itg__white!important;;
							}
						}
				}
		}
		&.is-active-4 {
			transform: translateX(-400%);

			.open {
					height: 100%;
					position: static;
					z-index: 1;
					height: auto;
					ul {
							display: block;
							width: 100%;
					}

					// iPhone 5S requires parent to be static even though child is fixed.
					> ul > li {
							position: static;
					}
			}

			.open a[data-childlevel="4"] + ul {
					height: 100%;
					background-color: $itg__blue-1;
					& > li {
							height: auto;
					}
					li{
						a{
							color: $itg__white!important;;
						}
					}
			}
	}
	}

	// LI
	.main-menu__item {
			list-style: none;
	}

	// Child Menu
	.main-menu__list--child {
			display: none;
			left: 0;
			position: fixed;
			top: 0;
			transform: translateX(100%);
			width: auto;
	}

	// LI with child
.main-menu__link {
					&:after {
							// include arrow icon for parent item
							content: "";
							height: 15px;
							position: absolute;
							right: 25px;
							top: 21px;
							width: 15px;
							background-image: url('./src/images/icons/Arrow_left.svg');
							background-size: cover;
							background-position: center center;
							background-repeat: no-repeat;
					}
					&.level-1{
						&:after{
							background-image: url('./src/images/icons/Arrow_left_white.svg');
							transform: rotate(-135deg);
						}
					}
					&.level-2{
						&:after{
							background-image: url('./src/images/icons/Arrow_left_white.svg');
							transform: rotate(-135deg);
						}
					}
					&.level-3{
						&:after{
							background-image: url('./src/images/icons/Arrow_left_white.svg');
							transform: rotate(-135deg);
						}
					}
			}

	.main-menu__link,
	.main-menu__link:link,
	.main-menu__link:visited,
	.main-menu__back,
	.main-menu_url,
	.main-menu_url:link,
	.main-menu_url:visited, {
			background-color: transparent;
			border: none;
			color: $itg__blue-1;
			cursor: pointer;
			display: inline-block;
			font-weight: 500;
			padding: 1em 0 5px;
			position: relative;
			text-align: left;
			text-decoration: none;
			width: 100%;
			padding-left: 20px;
			font-size: 16px!important;
			&:hover {
					border-bottom: 1px solid $itg__blue-1;
					color: $itg__blue-1;
			}
	}

	// Back button specific
	.main-menu__back {
		color: $itg__white;
		background-color: $itg__light-blue;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		color: $itg__blue-2;
		padding-top: 5px;
		line-height: 150%;
		padding-bottom: 9px;
		border-radius: 0;
		border: 0;
		font-size: 14px!important;
		padding-right: 15px;
			&:before {
					// include arrow icon for back
					content: "";
					background-size: 10.2em 8.6em;
					left: -.5em;
					margin-right: 0;
					top: 0.05em;
					display: block;
					width: 16px;
					height: 16px;
					position: absolute;
					left: 15px;
					background-image: url('./src/images/icons/Arrow_left.svg');
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
					top: 8px;
					transform: rotate(180deg);
			}
	}
	.list-level-2{
		li{
			a{
				color: $itg__white;
			}
		}
	}
	// Mobile Menu Close Button
	.main-menu__close {
			border: none;
			color: $white;
			cursor: pointer;
			font: 2em arial;
			height: 100%;
			position: absolute;
			right: 0%;
			top: 0;
			width: 15%;

			&::after {
					// include close icon
					content: "";
					font-size: 137%;
					height: 1em;
					left: 50%;
					margin-left: -32px;
					position: absolute;
					top:.3em;
					width: 1.1em;
			}

			&:hover {

			}
	}
	.itgMainMenu__container{
		position: relative;
		top: 80px;
		border-top: 5px solid $itg__light-blue;
		max-width: 100%;
		padding: 0;
		display: none!important;
		box-shadow: none;
		overflow: auto;
		&.is-active{
			display:block!important;
			min-height: 510px;
			max-height: 510px;
			overflow: auto;
		}
		.Itg_mobile_menu_right_container{
			background-color: $itg__light-blue;
			margin-top: 0px;
			text-align: left;
			padding: 0 20px;
			width: 100%;
			z-index: 0;
			position: absolute;
			bottom: 0;
			a{
				color: $itg__blue-1;
				margin: 15px 0 25px;
				font-size: 14px;
				font-weight: 400;
			}
			.wpml-ls-current-language{
				display: none;
			}
			.wpml-ls-item:not(.wpml-ls-current-language){
				display: block;
				margin: 0 auto;
				.wpml-ls-display{
					display: none;
				}
			}
		}
		span.wpml-ls-native {
			display: none;
			}
		.wpml-ls-legacy-list-horizontal{
			position: absolute;
			left: 0;
			right: 0;
			background-color: #2CC2E5;
			ul{
				margin: 0;
				padding: 0;
			}
			a{
			color: $itg__blue-1;
			text-align: center;
			display: block;
			margin: 0 auto;
			line-height: 130%;
			padding: 3px;
			span.wpml-ls-native{
				display: block;
			}
			}
		}
	}
	button#main-menu__close {
		display: none;
	}
	.itgPreHeader--singleItem{
		display: block;
		color: $itg__blue-1;
		img{
			max-width: 20px;
		}
		&.itg_a_image:not(.itg_linkself):not(.itg_linblank) {
			display: inline-block;
			width:18%;
			margin: 15px 0;
		}
	}
	div#main_search {
		position: absolute;
		right: 20px;
		top: 12px;
		}
}
