.swiper-pagination {
  &-bullet {
    width: 40px;
    height: 8px;
    background: $itg__white;
    opacity: .4;
    border-radius: 0;
    &-active {
      background: $itg__green-2;
      opacity: 1;
    }
  }
}

.swiper-button {
  &-prev,
  &-next {
    width: 56px;
    height: 56px;
    &:after {
      content: '';
    }
  }
  &-prev {
    background: url('src/images/icons/arrow_prev_dark_blue.svg');
    &--white {
      background: url('src/images/icons/arrow_prev_white.svg');
    }
  }
  &-next {
    background: url('src/images/icons/arrow_next_dark_blue.svg');
    &--white {
      background: url('src/images/icons/arrow_next_white.svg');
    }
  }
}