.itgBlock-tab-years {
  color: black;

  &__title {
    @include until($desktop) {
      h1, h2, h3, h4, h5 {
        @include h5(2rem !important, 2.75rem !important);
      }
    }
    *{
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @include until($desktop) {
      @include p2;
    }
  }

  &__list {
    display: flex;
    justify-content: center;

    &-year {
      border: 2px solid;
      border-radius: 28px;
      padding: 8px 16px;
      margin: 10px;
      cursor: pointer;
      &.hover-color-white {
        &:hover, &.active {
          background: $itg__white;
          font-weight: 600;
        }
      }
      &.hover-color-black {
        &:hover, &.active {
          background: $itg__black;
          font-weight: 600;
        }
      }
      &.hover-color-blue-1 {
        &:hover, &.active {
          background: $itg__blue-1;
          font-weight: 600;
        }
      }
      &.hover-color-blue-2 {
        &:hover, &.active {
          background: $itg__blue-2;
          font-weight: 600;
        }
      }
      &.hover-color-blue-3 {
        &:hover, &.active {
          background: $itg__blue-3;
          font-weight: 600;
        }
      }
      &.hover-color-light-blue {
        &:hover, &.active {
          background: $itg__light-blue;
          font-weight: 600;
        }
      }
      &.hover-color-green-1 {
        &:hover, &.active {
          background: $itg__green-1;
          font-weight: 600;
        }
      }
      &.hover-color-green-2 {
        &:hover, &.active {
          background: $itg__green-2;
          font-weight: 600;
        }
      }
      &.hover-color-yellow {
        &:hover, &.active {
          background: $itg__yellow;
          font-weight: 600;
        }
      }
      &.hover-color-orange {
        &:hover, &.active {
          background: $itg__orange;
          font-weight: 600;
        }
      }
      &.hover-color-red {
        &:hover, &.active {
          background: $itg__red;
          font-weight: 600;
        }
      }
      &.hover-color-brown {
        &:hover, &.active {
          background: $itg__brown;
          font-weight: 600;
        }
      }
      &.hover-color-grey-1 {
        &:hover, &.active {
          background: $itg__grey-1;
          font-weight: 600;
        }
      }
      &.hover-color-grey-2 {
        &:hover, &.active {
          background: $itg__grey-2;
          font-weight: 600;
        }
      }
      &.hover-color-white-60 {
        &:hover, &.active {
          background: $itg__white-60;
          font-weight: 600;
        }
      }
      &.hover-color-white-20 {
        &:hover, &.active {
          background: $itg__white-20;
          font-weight: 600;
        }
      }
      &.hover-color-blue-1-60 {
        &:hover, &.active {
          background: $itg__blue-1-60;
          font-weight: 600;
        }
      }
      &.hover-color-itg-gradient-1 {
        &:hover, &.active {
          background: $itg__gradient-1;
          font-weight: 600;
        }
      }
      &.hover-color-itg-gradient-2 {
        &:hover, &.active {
          background: $itg__gradient-2;
          font-weight: 600;
        }
      }
      &.hover-color-itg-gradient-3 {
        &:hover, &.active {
          background: $itg__gradient-3;
          font-weight: 600;
        }
      }
      &.hover-color-itg-transparent-1 {
        &:hover, &.active {
          background: $itg__transparent-1;
          font-weight: 600;
        }
      }
      &.hover-color-itg-transparent-2 {
        &:hover, &.active {
          background: $itg__transparent-2;
          font-weight: 600;
        }
      }
      &.hover-color-itg-transparent-3 {
        &:hover, &.active {
          background: $itg__transparent-3;
          font-weight: 600;
        }
      }

      // black: $itg__black,
      // blue-1: $itg__blue-1,
      // blue-2: $itg__blue-2,
      // blue-3: $itg__blue-3,
      // light-blue: $itg__light-blue,
      // green-1: $itg__green-1,
      // green-2: $itg__green-2,
      // yellow: $itg__yellow,
      // orange: $itg__orange,
      // red: $itg__red,
      // brown: $itg__brown,
      // grey-1: $itg__grey-1,
      // grey-2: $itg__grey-2,
      // itg-white-60: $itg__white-60,
      // itg-white-20: $itg__white-20,
      // itg-blue-1-60: $itg__blue-1-60,

    }
  }

  &__list-numbers {
    min-height: 300px;
    &-year {
      @include tablet-only {
        flex-wrap: wrap;
        > div {
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          padding: 20px;
        } 
      }
      @include mobile {
        flex-direction: column;
      }
      &.hidden {
        display: none !important;
      }
    }
  }
}
