@import "sass/abstracts/abstracts.scss";
.single-post{
 .category-price-sensitive {
   background-color: $itg__light-blue;
   margin-top: 120px;
   height: auto;
   padding: 30px;
   text-align:center;
   min-height: 250px;
   font-family: $font__main;
   color: $itg__blue-1;
  }
 
   .categoria_singola + ul {
     list-style: none !important;
   }
 
   h4 {
     font-family: $font__main;
     font-wieght: 500;
     text-align: center;
   }
 .ItgLayoutSection{
   .itgBlock-icon-text-type1 {
     p {
       color:$itg__blue-1 !important;
     }
   }
 }
 .entry-meta {
   color: $itg__grey-1 !important;
   text-align:center;
   margin-top: 90px;
 }
 .numeri {
   word-wrap: break-word;
   display:flex;
   flex: 1 0 21%;
   padding: 0px;
   margin: 0 0 0 0;
   &:after {
     margin-bottom: 0 !important;
   }
 }
 .entry-title {
   color: $itg__blue-1 !important;
   font-family: $font__main !important;
 }
 .testo-blocco {
   color: $itg__blue-1 !important;
   font-family: $font__main !important;
 }
}
