
.itgBlock-textBox {
  .search & {
    padding: 25px;
    @include until ($desktop){
      > .container > .columns > .column > div {
        flex-direction: column !important;
      }
    }
  }
  &-title {
    font-weight: 500;
  }

  &__file {
    display: flex;

    &-icon {
      &-image {
        width: 56px;
        height: 56px;
        min-height: 56px;
        background: $itg__white;
        background-image: url('src/images/icons/download.svg');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        &.blue-1 {
          background: $itg__blue-1;
          background-image: url('src/images/icons/download_white.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &-title {
      font-weight: 500;
      @include until($desktop) {
        padding-left: 12px !important;
      }

      a {
        color: $itg__white !important;
        @include until($desktop) {
          word-break: break-word;
        }
        &:hover {
          text-decoration: underline;
        }

      }
    }
  }
}