.itgBlock__ItgAccordionCarousel {

  .columns.is-flex {
    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &--image {
    @include mobile {
      padding-right: 0 !important;
      padding-bottom: 1rem !important;
    }
  }



  .itgBlock__ItgAccordion{
    &--single {
      background: transparent;
      border-radius: 0;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      &:first-of-type{
        .itgBlock__ItgAccordion--eyelet {
          padding-top: 0 !important;
        }
      }
    }
    &--image {
      padding: 0;
      text-align: center;
      
      @include tablet {
        text-align: right;
      }
      @include mobile {
        margin-bottom: 0 !important;
      }
    }
    &--eyelet{
      font-weight: 500 !important;
      font-size: 1.5rem;
      @include mobile {
        font-size: 1rem;
      }
    }
    &--eyelet::after, &--eyelet::before {
      background-image: url('src/images/icons/drop_down_blu.svg');
      background-color: transparent;
      width: 1.5625rem;
      height: 1.875rem;
      transform: rotate(180deg);
      right: 0;

      transition: 0.5s;

    }

    &--eyelet.active::after {
      transform: rotate(0deg);

      transition: 0.5s;

    }
  }

  &--content {
    color: white;
    @include mobile {
      padding-right: 0 !important;
      padding-top: 0 !important;
      text-align: center;
    }
  }
  &--content--title {
    font-weight: 500;
  }

  &--content--testo {
    padding-bottom: 2rem;
    @include tablet {
      padding-bottom: 1.5rem;
    }
    @include desktop {
      padding-bottom: 4rem;
    }
  }

  &--sliderWrapper-card {
    background-color: white;
    border-radius: 10px;
    position: relative;
    height: auto;
    box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    padding-bottom: 80px;
    min-height: 21.875rem;
  }

  &--sliderWrapper-card--title {
    font-weight: 500;
    @include mobile {
      padding-bottom: 32px;
    }
  }

  &--sliderWrapper-card--cert{
    position: absolute;
    bottom: 24px;
    width: calc(100%-48px);
    left: 24px;
  }


  .container {
    border-radius: 10px;
    @include mobile {
      border-radius: 5px;
      padding: 0 24px !important;
    }
  }

  
  &--sliderPagination {
    color: white;
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 30px;
    font-size: 24px;
    @include mobile {
      padding-top: 1.5rem;
      margin-top: 1.5rem;
    }
    @include tablet {
      text-align: left;
      position: absolute;
      bottom: auto !important;
      padding-top: 0.75rem;
    }
    @include desktop {
      text-align: left;
      position: absolute;
      bottom: auto !important;
      padding-top: 0.75rem;
    }
  }

  p {
    margin-bottom: 0;
  }

  &--sliderContainer.itg-pb-72 {
    @include mobile {
      padding-bottom: 0 !important;
    }
  }

  .swiper-pagination-bullet-active {
    background: white;
  }

  .progress-bar {
    flex: 1;
    &.has-text-right {
      font-size: 32px;
      font-weight: 500;
      color: #34B233;
      line-height: 44px;
    }
  }

  /* circle percentage */
  @mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
  }
  
  $size: 40px;
  .progress-pie-chart {
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    overflow: hidden;
    &.gt-50 {
      background-color: #34B233;
    }
  }
  .ppc-progress {
    @include circle($size);
    clip: rect(0, $size, $size, #{$size/2});
    .ppc-progress-fill {
      @include circle($size);
      clip: rect(0, #{$size/2}, $size, 0);
      background: #81CE97;
      transform: rotate(60deg);
    }
    
  }
  .gt-50 .ppc-progress {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
  .gt-50.gt-100 .ppc-percents {
      background: transparent;
    
    span {
      color: white;
    }
  }
  .ppc-percents {
    @include circle(#{$size/1.15});
    background: #fff;
    text-align: center;
    display: table;
    span {
      display: block;
      font-size: 2.6em;
      font-weight: bold;
      color: #81CE97;
    }
  }
  .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  
}
