// Center block
@use "sass:math";

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) -  math.div( $columns__margin * ( $numberColumns - 1 ) , $numberColumns) ;
}

/*
* ITG Sustainability Font Mixins
*/

@mixin h1($font-size:5rem, $line-height: 6rem) {
  font-size: $font-size;
  font-weight: 800 !important;
  line-height: $line-height;
}
@mixin h2($font-size:4rem, $line-height: 4.75rem) {
  font-size: $font-size;
  font-weight: 800 !important;
  line-height: $line-height;
}
@mixin h3($font-size:3.5rem, $line-height: 4.1875rem) {
  font-size: $font-size;
  font-weight: 800 !important;
  line-height: $line-height;
}
@mixin h4($font-size:2.5rem, $line-height: 3rem) {
  font-size: $font-size;
  font-weight: 700 !important;
  line-height: $line-height;
}
@mixin h5($font-size:2rem, $line-height: 2.75rem) {
  font-size: $font-size;
  font-weight: 700 !important;
  line-height: $line-height;
}
@mixin h6($font-size:1.5rem, $line-height: 2.0625rem) {
  font-size: $font-size;
  font-weight: 700 !important;
  line-height: $line-height;
}
@mixin p5($font-size:2.5rem, $line-height: 3rem) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin p4($font-size:2rem, $line-height: 2.75rem) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin p3($font-size:1.5rem, $line-height: 2.0625rem) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin p2($font-size:1.125rem, $line-height: 1.75rem) {
  font-size: $font-size;
  line-height: $line-height;
}
@mixin p1($font-size:1rem, $line-height: 1.5625rem) {
  font-size: $font-size;
  line-height: $line-height;
}