@import "../abstracts/abstracts";

.itgPreHeader,
.itgSubFooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $itg__blue-1;
  * {
    @include p1;
    color: $itg__white !important;
    margin-bottom: 0;
  }
  &__leftSide {
    @include tablet-only {
      width: 50%;
      text-align: center;
    }
  }
  &__rightSide,
  &__leftSide,
  &--centerSide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--singleItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.itgPreHeader {
  background-color: $itg__light-blue;
  color: $itg__blue-1;
  &__rightSide {
    p {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.17px;
      line-height: 25.6px;
      font-family: $font__main;
    }
  }
  &__leftSide {
    .itg_preheader-left_label {
      color: $itg__blue-1 !important;
    }
    a {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.17px;
      line-height: 25.6px;
      font-family: $font__main;
    }
    span {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.17px;
      line-height: 25.6px;
      font-family: $font__main;
    }
  }
  &__bottomSide {
    height: 147px;
    width: 100%;
    background-color: $itg__blue-1;
    position: fixed;
    top: 40px;
    padding: 20px 50px;
    opacity: 0.95;
    color: white;
    z-index: 10000;
    font-family: $font__main;

    .column {
      font-size: 13px;
      letter-spacing: 0;
      line-height: 25px;

      span {
        font-weight: bold;
      }
    }
  }
  @include mobile {
    display: none;
  }
}

.itgSubFooter {
  @include mobile {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  @include tablet-only {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include desktop-only {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}

.itgHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;

  &.stickyHead {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    @include desktop {
      height: auto;
      padding-top: 0 !important;
    }
    .itgHeader__rightSide {
      @include desktop {
        -webkit-box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
        box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
      }
    }
  }
  &--logo {
    width: 150px;
  }
  @include mobile {
    top: 0;
    height: 56px;
    padding: 8px 24px !important;
    background-color: $itg__white;
    &--logo {
      width: auto;
      height: 24px;
    }
  }
  &__leftSide,
  &__rightSide {
    display: flex;
    justify-content: center;
  }
  &__rightSide {
    height: 57px;
    position: relative;
    @include mobile {
      height: 50px;
    }
    @include tablet-only {
      height: 50px;
    }
  }
  &__leftSide {
    opacity: 1;
    &.hide {
      @include desktop {
        opacity: 0;
      }
    }
  }
  .itgMainMenu {
    &__highlightedItems {
      * {
        font-weight: 600;
        color: $itg__blue-1;
      }
      &--single {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s linear;
        background-color: $itg__white;
        &.is-hide {
          opacity: 0;
          pointer-events: all;
          transition: opacity 0.3s linear;
        }
        &:not(:nth-last-of-type(1)) {
          border-right: 1px solid $itg__grey-2;
        }
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: $itg__blue-2;
          transition: width 0.3s linear;
        }
        &:hover {
          &:after {
            width: 100%;
            transition: width 0.3s linear;
          }
          color: $itg__blue-2 !important;
        }
      }
    }
    &__toggle,
    &__searchBox {
      background-color: $itg__white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &--icon {
        cursor: pointer;
      }
      &--searchInput {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        min-height: 100px;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      &--overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      &--searchInput {
        .search-is-active & {
          opacity: 1;
          transition: opacity 0.3s linear;
          pointer-events: all;
          z-index: 2;
        }
      }
      &--overlay {
        .search-is-active & {
          opacity: 1;
          transition: opacity 0.3s linear;
          pointer-events: all;
          z-index: 1;
        }
      }
      &--close {
        position: absolute;
        width: 15px;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
    &__searchBox {
      &.highlighted-are-hide {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      @include touch {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .promagnifier {
        order: -1 !important;
      }
    }
    &__toggle {
      &.highlighted-are-hide {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      @include touch {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
    &__supContainer {
      position: absolute;
      top: 65px;
      right: 0;
      background-color: $itg__white;
      width: 70vw;
      @include mobile {
        width: calc(100vw - 50px);
      }
      @include tablet-only {
        width: 40vw;
      }
      min-height: 56px;
      opacity: 1;
      transition: opacity 0.3s linear;
      pointer-events: all;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid $itg__blue-1;
      box-shadow: 0 -2px 10px 5px rgb(0 0 0 / 5%);
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &.is-hide {
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      img {
        max-height: 24px;
      }
    }
    &__container {
      position: absolute;
      top: 121px;
      right: 0;
      background-color: $itg__white;
      width: 70vw;
      @include mobile {
        width: calc(100vw - 50px);
        flex-direction: column;
      }
      @include tablet-only {
        width: 40vw;
        flex-direction: column;
      }
      opacity: 1;
      transition: opacity 0.3s linear;
      pointer-events: all;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
      &.is-hide {
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      &--single {
        display: flex;
        flex-direction: column;
        width: 31%;
        @include mobile {
          width: 100%;
          transition: height 0.4s linear;
          overflow: hidden;
          .itgMainMenu__container--primary {
            line-height: 1.35rem !important;
          }
          &.is-condensed {
            height: 60px !important;
            transition: height 0.4s linear;
            .itgMainMenu__container--primary {
              background-image: url("src/images/icons/drop_down.svg");
            }
          }
        }
        @include tablet-only {
          width: 100%;
          transition: height 0.4s linear;
          overflow: hidden;
          .itgMainMenu__container--primary {
            line-height: 1.35rem !important;
          }
          &.is-condensed {
            height: 60px !important;
            transition: height 0.4s linear;
          }
        }
      }
      &--primary {
        @include p2;
        font-weight: 600;
        border-bottom: 1px solid $itg__grey-2;
        &:not(:nth-of-type(1)) {
          margin-top: 16px;
        }
        &:hover {
          @include desktop {
            background-image: url("src/images/icons/Arrow_left.svg");
            background-position: 100% 3px;
            background-repeat: no-repeat;
            background-size: 20px;
          }
        }
        @include mobile {
          background-image: url("src/images/icons/drop_top.svg");
          background-position: 100% 5px;
          background-repeat: no-repeat;
          background-size: 20px;
          padding-right: 25px;
        }
      }
      &--secondary {
        @include p1;
        &.is-mobile-only {
          @include desktop {
            display: none;
          }
        }
      }
      * {
        color: $itg__black;
        &:hover {
          color: $itg__blue-2;
        }
      }
    }
  }
  .hamburger {
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .hamburger-box {
      width: 20px;
    }
    .hamburger-inner {
      background-color: $itg__blue-1;
      &:before {
        top: -7px;
      }
      &:after {
        bottom: -7px;
      }
      &.is-active {
        &:after {
          transform: rotate(-90deg) translate(7px, 0px);
        }
      }
      width: 20px;
      &:before,
      &:after {
        width: 20px;
        background-color: $itg__blue-1;
      }
    }
  }
}
