@import "../abstracts/abstracts";

.itgPreHeader,
.itgSubFooter {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $itg__blue-1;
  * {
    @include p1;
    color: $itg__white !important;
    margin-bottom: 0;
  }
  &__leftSide {
    @include tablet-only {
      width: 50%;
      text-align: center;
    }
  }
  &__rightSide,
  &__leftSide,
  &--centerSide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--singleItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.itgPreHeader {
  background-color: $itg__light-blue;
  color: $itg__blue-1;
  
  &__rightSide {
    p {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.17px;
      line-height: 25.6px;
      font-family: $font__main;
      &:before {
        content: "";
        height: 17px;
        background-color: $itg__blue-1;
        width: 1px;
        display: inline-block;
        margin-right: 20px;
        margin-left: 20px;
      }
    }
    a {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.17px;
      line-height: 25.6px;
      font-family: $font__main;
    }

    .img_a_external {
      img {
        display: block;
        background-image: url("src/images/icons/external_page.svg");
      }
    }

    .img_a_internal {
      img {
        display: block;
        background-image: url("src/images/icons/internal_page.svg");
      }
    }
    .itg_a_image {
      img {
        max-width: 30px;
        margin-left: 10px;
      }
      &.itg_linblank {
        min-width: 100px;
        line-height: 12px;
        img {
          max-width: 18px;
          height: auto;
        }
      }
      &.itg_linkself {
        min-width: 100px;
        line-height: 12px;
        img {
          max-width: 18px;
          height: auto;
        }
      }
    }
  }
  &__leftSide {
    .itg_preheader-left_label {
      color: $itg__blue-1 !important;
    }

    .itg_a_image {
      margin: 10px;
      height: 20px;
      width: 20px;

      img {
        height: 100%;
        width: 100%;
        fill: $itg__blue-1;
      }
    }
    .itg_a_container {
      display: flex;
      width: auto;
      flex-direction: row;
      align-items: center;
      &:after {
        content: "";
        display: inline-block;
        height: 17px;
        width: 1px;
        background-color: $itg__blue-1;
        margin-right: 10px;
      }
    }
    .itg_divider {
      height: 17px;
      width: 1px;
      border: 1px solid $itg__blue-1 !important;
      box-sizing: border-box;
    }
    a {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.17px;
      line-height: 39px;
      font-family: $font__main;
      text-transform: uppercase;
      margin-right: 10px;
      &:hover {
        color: $itg__blue-3 !important;
      }
      img {
        fill: $itg__blue-1;
        position: relative;
        margin-right: 6px;
        max-width: 18px;
      }
      &.active {
        color: $itg__blue-3 !important;
        img {
          fill: $itg__blue-3 !important;
        }
      }
    }
    span {
      color: $itg__blue-1 !important;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.17px;
      line-height: 25.6px;
      font-family: $font__main;
      margin-right: 10px;
    }
  }
  &__bottomSide {
    height: 147px;
    width: 100%;
    background-color: $itg__blue-1;
    position: absolute;
    top: 40px;
    padding: 20px 50px;
    opacity: 0.95;
    color: white;
    z-index: 10000;
    font-family: $font__main;
    display: none;
    &.is-active {
      display: flex;
    }
    .Itg_PreHeaderData_submenu {
      list-style-type: none;
      padding: 0;
      li {
        a {
          color: $itg__white;
        }
      }
    }
    .column {
      font-size: 13px;
      letter-spacing: 0;
      line-height: 25px;
      span {
        font-weight: bold;
      }
    }
  }
}

.itgSubFooter {
  @include mobile {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  @include tablet-only {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @include desktop-only {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}

.itgHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 67px;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 2;
  background-color: $itg__white;
  .navbar-brand {
   margin-right: 10px;
		}
  .fw-helper {
    width: 100%;
  }
  &__container {
    display: none;
  }
  &.stickyHead {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    @include desktop {
      height: auto;
      padding-top: 0 !important;
    }
    .itgHeader__rightSide {
      @include desktop {
        -webkit-box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
        box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
      }
    }
  }
  &--logo {
    width: auto;
    max-height: 40px!important;
    margin-top: 7px;
  }
  @include mobile {
    top: 40px;
    height: 56px;
    padding: 8px 24px !important;
    background-color: $itg__white;
    &--logo {
      width: auto;
      height: 24px;
    }
  }
  &__leftSide,
  &__rightSide {
    display: flex;
  }
  &__rightSide {
    position: relative;
    margin-top: 11px;
    display: none;
  }
  &__leftSide {
    .itgHeader--mainmegamenu {
	    width: 100%;
					position: relative;
      ul {
        margin: 0;
        padding: 0;
        border: 0;
        li {
        
	        			&.is-active{
		        			a{
	            color: $itg__blue-3;
	            span{
		            color: $itg__blue-3;
		        			}
		            .iconclose{
			            display: block;
		            }
		            .iconopen{
			            display: none;
		            }
	            }
	           }
          a {
            border: 0;
            position: relative;
            &:after {
              content: "";
              height: 5px;
              width: 100%;
              background-color: $itg__white;
            }
            &:hover {
              &:after {
                background-color: $itg__blue-3;
                content: "";
																height: 5px;
																width: 100%;
																display: block;
												    position: absolute;
												    z-index: 999;
												    bottom: 1px;
              }
              span{
			            color: $itg__blue-3;
		            }
            }
            &.is-active{
	            color: $itg__blue-3;
	            span{
		            color: $itg__blue-3;
	            }
	            &:after {
	              content: "";
											    height: 5px;
											    width: 100%;
											    background-color: $itg__blue-3;
											    display: block;
											    position: absolute;
											    z-index: 999;
											    bottom: 1px;
										    }
            }
            &.navbar-trigger{
	            height: 67px;
	            background-color: $itg__white;
	            img{
		            transform: rotate(90deg);
														margin-left: 5px;
														max-width: 20px;
														&.iconclose{
															display: none;
															max-width: 13px;
															margin-left: 10px;
														}
														&.iconopen{
			            display: block;
		            }
	            }
	            &.is-active{
		            .iconclose{
			            display: block;
		            }
		            .iconopen{
			            display: none;
		            }
	            }
            }
          }
          
        }
      }
      span {
        font-size: 16px;
        font-family: $font__main;
        color: $itg__blue-1;
        letter-spacing: 0.2px;
        text-align: right;
        font-weight: 600;
        line-height: 17px;
      }
    }

    opacity: 1;
    &.hide {
      @include desktop {
        opacity: 0;
      }
    }
  }
  .itgMainMenu {
    &__highlightedItems {
      * {
        font-weight: 600;
        color: $itg__blue-1;
      }
      &--single {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.3s linear;
        background-color: $itg__white;
        &.is-hide {
          opacity: 0;
          pointer-events: all;
          transition: opacity 0.3s linear;
        }
        &:not(:nth-last-of-type(1)) {
          border-right: 1px solid $itg__grey-2;
        }
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 3px;
          background-color: $itg__blue-2;
          transition: width 0.3s linear;
        }
        &:hover {
          &:after {
            width: 100%;
            transition: width 0.3s linear;
          }
          color: $itg__blue-2 !important;
        }
      }
    }
    &__toggle,
    &__searchBox {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      border-radius: 4px;

      &--content {
        font-size: 16px;
        font-family: $font__main;
        line-height: 17px;
        letter-spacing: 0.2px;
        text-align: right;
        font-weight: 600;
        padding-right: 15px;
      }

      &--icon {
        cursor: pointer;
        height: 50px;
        width: 50;
        margin: 10px;
        position: absolute;
        right: 0;
        top: -2px;
      }
      &--searchInput {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 20%;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        min-height: 100px;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      &--overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      &--searchInput {
        .search-is-active & {
          opacity: 1;
          transition: opacity 0.3s linear;
          pointer-events: all;
          z-index: 2;
        }
      }
      &--overlay {
        .search-is-active & {
          opacity: 1;
          transition: opacity 0.3s linear;
          pointer-events: all;
          z-index: 1;
        }
      }
      &--close {
        position: absolute;
        width: 15px;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
    &__searchBox {
      background-image: linear-gradient(
        to right,
        $itg__blue-3 30%,
        $itg__blue-2 60%,
        $itg__blue-1 100%
      );
      color: $itg__white;
      width: 205px;
      max-height: 43px;
      &--icon {
        fill: $itg__white;
      }
      &.highlighted-are-hide {
        border-radius: 4px;
      }
      @include touch {
        border-radius: 4px;
      }
      .promagnifier {
        order: -1 !important;
      }
    }
    &__toggle {
      background-color: $itg__white;
      border-color: $itg__blue-2;
      border-style: solid;
      border-width: 3px;
      width: 140px;
      color: $itg__blue-1;
      margin-right: 10px;
      display: flex;
      max-height: 43px;
      button {
        color: $itg__blue-1;
        margin: 10px;
      }
      &.highlighted-are-hide {
        border-radius: 4px;
      }
      @include touch {
        border-radius: 4px;
      }
    }
    &__supContainer {
      position: absolute;
      top: 65px;
      right: 0;
      background-color: $itg__white;
      width: 70vw;
      @include mobile {
        width: calc(100vw - 50px);
      }
      @include tablet-only {
        width: 40vw;
      }
      min-height: 56px;
      opacity: 1;
      transition: opacity 0.3s linear;
      pointer-events: all;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid $itg__blue-1;
      box-shadow: 0 -2px 10px 5px rgb(0 0 0 / 5%);
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &.is-hide {
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      img {
        max-height: 24px;
      }
    }
    &__container {
      position: absolute;
      top: 61px;
      right: 0;
      background-color: $itg__blue-1;
      width: 100vw;
      height: 100vw;
      @include mobile {
        width: calc(100vw - 50px);
        flex-direction: column;
      }
      @include tablet-only {
        width: 40vw;
        flex-direction: column;
      }
      opacity: 1;
      transition: opacity 0.3s linear;
      pointer-events: all;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 5px 10px 5px rgb(0 0 0 / 5%);
      display: none;
      &.is-hide {
        opacity: 0;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }
      &--single {
        display: flex;
        flex-direction: column;
        width: 31%;
        @include mobile {
          width: 100%;
          transition: height 0.4s linear;
          overflow: hidden;
          .itgMainMenu__container--primary {
            line-height: 1.35rem !important;
          }
          &.is-condensed {
            height: 60px !important;
            transition: height 0.4s linear;
            .itgMainMenu__container--primary {
              background-image: url("src/images/icons/drop_down.svg");
            }
          }
        }
        @include tablet-only {
          width: 100%;
          transition: height 0.4s linear;
          overflow: hidden;
          .itgMainMenu__container--primary {
            line-height: 1.35rem !important;
          }
          &.is-condensed {
            height: 60px !important;
            transition: height 0.4s linear;
          }
        }
      }
      &--primary {
        @include p2;
        font-weight: 600;
        border-bottom: 1px solid $itg__grey-2;
        &:not(:nth-of-type(1)) {
          margin-top: 16px;
        }
        &:hover {
          @include desktop {
            background-image: url("src/images/icons/Arrow_left.svg");
            background-position: 100% 3px;
            background-repeat: no-repeat;
            background-size: 20px;
          }
        }
        @include mobile {
          background-image: url("src/images/icons/drop_top.svg");
          background-position: 100% 5px;
          background-repeat: no-repeat;
          background-size: 20px;
          padding-right: 25px;
        }
      }
      &--secondary {
        @include p1;
        &.is-mobile-only {
          @include desktop {
            display: none;
          }
        }
      }
      * {
        color: $itg__white;
        &:hover {
          color: $itg__blue-2;
        }
      }
    }
  }
  .hamburger {
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .hamburger-box {
      width: 15px;
      transform: rotate(90deg);
      &.is-active {
        transform: rotate(270deg);
      }
    }
    .hamburger-inner {
      /*
      background-color: $itg__blue-1;
      &:before {
        top: -7px;
      }
      &:after {
        bottom: -7px;
      }
      */
      &.is-active {
        &:after {
          transform: rotate(-90deg) translate(7px, 0px);
        }
        .hamburger-box {
          transform: rotate(-45deg);
        }
      }
      width: 20px;
      &:before,
      &:after {
        width: 20px;
        background-color: $itg__blue-1;
      }
    }
  }
}
header.site-header {
	transition: all 0.5s ease;
	height: 112px;
	transform: translateY(0%);
	z-index: 9999;
 position: relative;
 nav.navbar{
	 padding: 0 55px;
 }
		&.is-fixed{
    position: fixed;
    width: 100%;
    transform: translateY(0%);
    z-index: 9999;
    -webkit-transition: all 0.3s;
			 -moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			 transition: all 0.3s;
			 top: 0;
  }
  .navbar-item.is-mega {
		  position: static;
		  margin-top: 4px;
				.navbar-trigger{
     height: 67px;
     background-color: $itg__white;
     color: $itg__blue-1;
     font-weight: 500;
     border-bottom: 5px solid $itg__white;
     &:not(.is-arrowless):after{
	     border-color: $itg__blue-1;
     }
     &.is-active:not(.menu-servizi){
	     color: $itg__blue-3;
	     border-bottom: 5px solid $itg__blue-3;
	     &:not(.is-arrowless):after{
		     border-color: $itg__blue-3;
	     }
     }
     img{
      transform: rotate(90deg);
						margin-left: 5px;
						max-width: 20px;
						&.iconclose{
							display: none;
							max-width: 13px;
							margin-left: 10px;
						}
						&.iconopen{
       display: block;
      }
     }
     &.is-active{
      .iconclose{
       display: block;
      }
      .iconopen{
       display: none;
      }
     }
     &.menu-servizi{
      background-color: $itg__white;
		    border: 3px solid $itg__blue-2;
		    width: 140px;
		    color: $itg__blue-1;
		    margin-right: 10px;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    max-height: 43px;
		    position: absolute;
		    padding-right: 55px;
		    right: 55px;
		    border-radius: 7px;
		    padding: 0;
		    top: 15px;
		    
		    span{
			    margin: 0 auto 0 33px;
			    display: block;
		    }
		    a{
			    height: 37px!important;
			    margin: 0 auto!important;
			    &:hover{
				    border: none!important;
			    }
			    &.is-active{
				    border: none!important;
			    }
		    }
     }
	  	}
		  .is-mega-menu-title {
		    margin-bottom: 0;
		    padding: .375rem 1rem;
		  }
		}
  .is-link {
    background-color: $itg__blue-1-60;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    z-index: 9999;
    top:71px;
    left: 0;
    right: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    display: block;
    padding: 0;
    &.is-active {
      display: flex;
      position: absolute;
      z-index: 20;
      top:107px;
    }
    &.is-hide {
      display: none;
    }
    .itg_bg_heromenu{
	    background-color: $itg__blue-1-75;
	    height: 100vw;
	    .itg__rowtitle{
		    width: 100%;
		    padding-bottom: 30px;
		    .Itg-hero-menu-upper-left {
						    padding-right: 60px;
						}
		    .Itg_mega_menu_cta {
							    background-color: $itg__white;
							    border-radius: 10px;
							    max-width: 432px;
							    padding: 15px 10px 10px 50px;
							    min-height: 96px;
							    position: relative;
							    top:-16px;
							    min-width: 270px;
											margin: 0 auto;
							    .img_cta_megamnu{
								    position: absolute;
												left: -50px;
												top: 8px;
												overflow: hidden;
												max-height: 80px;
												max-width: 80px;
												img{
													max-height: inherit;
													width: 100%;
													height: auto;
												}
							    }
							    .linkIcon{
								    float: right;
								    margin-right: 5px;
							    }
							    p{
								    color: $itg__blue-1;
								    font-weight: 600;
							    }
							}
	    }
    }
    
  .itg__columns-menus{
	  width: 100%;
  }
  .Itg-hero-menu-upper {
	  		max-width: 88%;
				  height: 230px;
				  width: 100%;
				  color: $itg__white;
						padding-top: 50px;
						margin: 0 auto;
				  &-left {
				    span {
				      font-family: $font__main;
				      font-size: 24px;
				      font-weight: 600;
				      letter-spacing: 0;
				      line-height: 26px;
				    }
				
				    p {
				      line-height: 25px;
				      font-size: 16px;
				      letter-spacing: 0;
				      font-family: $font__main;
				      margin-top: 15px;
				    }
				  }
				}
				
				.Itg-hero-menu-lower {
				  height: 100%;
				  color: $itg__white;
						width: 100vw;
						color: #fff;
						left: 0;
						right: 0;
						margin: 0;
						.Itg_mega_menu_cta {
							background-color: $itg__blue-1;
							height: 100vw;
							padding-top: 40px;
						}
						.Itg-hero-menu-lower-central{
						  background-color: $itg__blue-1-75;
						  padding-top: 40px;
					  }
				  .launchlinks{
							padding: 30px;
							background-color: $itg__blue-1;
							padding: 0 55px;
							img{
								 float: right;
									position: relative;
									left: 40px;
									}
							a{
								font-weight: 600;
							}
							p{
								line-height: 150%;
							}
						}
				  .itg_nav-tabs{
					  margin: 0;
					  padding: 0;
					  list-style-type: none;
					  width: 100%;
					  li{
						  width: 100%;
						  position: relative;
					  }
				  }
				  .ItgLeftTabs {
					  margin: 0;
					  font-size: 16px;
						 line-height: 40px;
					  ul.menu-main-mega-menu-container{
							  width: 100%;
							  padding: 0;
							  margin: 0;
							  list-style-type: none;
							  width: 100%;
							  background-color: $itg__blue-1;
							  li{
								  line-height: 30px;
								  width: 100%;
								  margin-bottom: 15px;
								  position: relative;
								  &:after{
									  content: "";
									  display: block;
									  width: 15px;
									  height: 15px;
									  background-image: url('src/images/icons/Arrow_left_white.svg');
									  background-position: center center;
									  background-size: cover;
									  position: absolute;
									  right: 10px;
									  transform: rotate(225deg);
									  top:8px;
								  }
								  ul.sub-menu{
									  display:none;
								  }
							  }
					  }
					  
					  
				    img {
				      fill: $itg__white;
				      transform: rotate(226deg);
				      max-width: 12px;
				      max-width: 15px;
						    right: 10px;
						    position: absolute;
						    top: 12px;
				    }
						  a{
							  color: $itg__white;
							  &:hover{
								  color: $itg__blue-3;
							  }
						  }				    
				  }
				  .tab-pane {
							display: none;
							max-width: 500px;
							padding: 0 40px;
							&.active {
								display: block;
							}
						}
				  .divider-x {
				    width: 100%;
				    height: 1px;
				    border-width: 1px;
				    border-style: solid;
				    border-color: $itg__blue-2;
				    color: $itg__blue-2;
				  }
				
				  .column {				
				    span {
				      font-weight: bold;
				      line-height: 40px;
				      letter-spacing: 0;
				      font-size: 16px;
				      font-family: $font__main;
				      margin-top: 10px;
				      margin-bottom: 10px;
				      display: block;
				    }
				
				    p {
				      margin: 0;
				      font-size: 14px;
				      letter-spacing: 0;
				      line-height: 150%;
				      font-family: $font__main;
				    }
				
				    a {
				      margin: 0;
				      text-decoration: none;
				      color: $itg__blue-2;
				      line-height: 28.8px;
				      letter-spacing: 0;
				      font-size: 16px;
				      font-family: $font__main;
				    }
				  }
			}
  }
  .itg_navtabs{
	  position: relative;
	  margin: 0;
	  padding: 0;
			list-style-type: none;
			max-width: 75%;
   left: 20%;
			li{
				margin-bottom: 10px;
				position: relative;
				a{
					color: $itg__white!important;
					&:after {
		    border: 3px solid transparent;
		    border-radius: 2px;
		    border-right: 0;
		    border-top: 0;
		    content: " ";
		    display: block;
		    height: .625em;
		    margin-top: -.4375em;
		    pointer-events: none;
		    position: absolute;
		    top: 50%;
		    -webkit-transform: rotate(224deg);
		    transform: rotate(224deg);
		    -webkit-transform-origin: center;
		    transform-origin: center;
		    width: .625em;
		    border-color: $itg__white;
		    right: 15px;
						}
						&.active{
							color: $itg__blue-3!important;
								&:after {
									border-color: $itg__blue-3;
								}
						}
			}
			&.active{
							color: $itg__blue-3!important;
							a{
								color: $itg__blue-3!important;
								&:after {
									border-color: $itg__blue-3;
								}
							}
								
						}
  }
}
.menu-servizi{
	  .itg__rowtitle{
		  .columns{
			  .column{
					  .Itg_mega_menu_cta{
						  &:last-child{
							  background-color: #007AC9;
							  a{
								  color: $itg__white;
							  }
						  }
					  }
				  }
			  }
		  .Itg_mega_menu_cta{
			 	padding-left: 15px!important;
			 	min-height: 182px!important;			 	
			 }
	  }
  }
  .tab-content {
   float: left;

   & > .tab-pane {
     display: none;
     &.active {
       display: block;
     }
   }
   }
}

