.itgBlock__ItgMatrix {
  @include tablet-only {
    > div:first-child {
      flex-direction: column;
    }
  }
  position: relative;
  &--category {
    border-radius: 8px;
    transition: height 0.4s linear;
    height: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: transparent;
    }
    &.isAnotherContainer {
      transition: height 0.4s linear;
      height: 0;
      padding-top: 10px !important;
      padding-bottom: 0 !important;
      cursor: pointer;
      overflow-x: hidden;
      @include mobile {
        padding-top: 0px !important;
        margin-bottom: 0px !important;
      }
    }
  }
  &--label {
    @include p3;
    color: $itg__white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
      font-size: 1rem;
    }
  }
  &--icon {
    max-width: 15px;
    transform: rotateZ(180deg);
    transition: transform 0.3s linear;
    &.is-active {
      transform: rotateZ(0deg);
      transition: transform 0.3s linear;
    }
  }
  &--datum {
    transition: height 0.4s linear;
    &:not(.is-active) {
      height: 0 !important;
      transition: height 0.4s linear;
    }
    overflow: hidden;
    &-index {
      display: flex;
      align-items: center;
      @include p2;
      color: $itg__white;
      font-weight: 600;
      min-height: 60px;
      border-bottom: 1px solid $itg__white;
      cursor: pointer;
      position: relative;
      @include mobile {
        font-size: 1rem;
        padding-right: 2.5rem;
      }
      &:after {
        display: flex;
        align-items: center;
        content: "leggi";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: auto;
        margin: auto;
        text-transform: uppercase;
        @include p1(0.875rem);
        font-weight: 400;
      }
      &:nth-of-type(1) {
        margin-top: 24px;
      }
    }
  }
  &--matrix {
    &-container {
      @include mobile {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      position: relative;
      background-color: $itg__white;
      height: 100%;
      border-radius: 8px;
      box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.08);
    }
    &-max {
      position: absolute;
      @include p2();
      font-weight: 600;
      color: $itg__grey-1;
      @include mobile {
        font-size: 1rem;
      }
      &.x {
        top: auto;
        left: auto;
        right: 20px;
        bottom: 40px;
        @include mobile {
          font-size: 0.8rem;
        }
      }
      &.y {
        top: 20px;
        left: 80px;
        right: auto;
        bottom: auto;
        transform-origin: top left;
        transform: rotate(90deg);
        @include mobile {
          font-size: 0.8rem;
        }
        span {
          transform: rotateX(180deg) rotateY(180deg);
          display: block;
        }
      }
    }
    &-min {
      position: absolute;
      @include p2();
      color: $itg__grey-1;
      @include mobile {
        font-size: 1rem;
      }
      &.x {
        top: auto;
        left: 80px;
        right: auto;
        bottom: 40px;
        @include mobile {
          font-size: 0.8rem;
        }
      }
      &.y {
        top: auto;
        left: 50px;
        right: auto;
        bottom: 50px;
        transform: rotateZ(-90deg);
        transform-origin: top left;
        @include mobile {
          font-size: 0.8rem;
        }
      }
    }
    &-x {
      position: absolute;
      top: auto;
      bottom: 10px;
      right: 0;
      left: 0;
      margin: auto;
      color: $itg__black;
      text-align: center;
      @include p3;
      @include mobile {
        font-size: 1rem;
      }
    }
    &-y {
      position: absolute;
      top: 0;
      bottom: 0;
      right: auto;
      left: 0;
      margin: auto;
      color: $itg__black;
      text-align: center;
      height: 2.0625rem;
      @include p3;
      @include mobile {
        font-size: 1rem;
      }
      span {
        display: block;
        transform: rotate(-90deg) translateX(-50%) translateY(10px);
        transform-origin: top left;
      }
    }
  }
  &--graphic {
    position: absolute;
    top: 20px;
    right: 20px;
    width: calc(100% - 100px);
    height: calc(100% - 90px);
    border: 1px solid $itg__grey-2;
    &-x {
      position: absolute;
      height: 1px;
      background-color: $itg__grey-2;
      width: 100%;
      top: auto;
      &.zero {
        bottom: 33%;
      }
      &.one {
        bottom: 66%;
      }
    }
    &-y {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $itg__grey-2;
      left: auto;
      &.zero {
        right: 33%;
      }
      &.one {
        right: 66%;
      }
    }
    &-datum {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 20px;
      height: 20px;
      color: $itg__white;
      border-radius: 100%;
      transition: background-color 0.3s linear;
      &.inactive {
        transition: background-color 0.3s linear;
        background-color: $itg__grey-2 !important;
        pointer-events: none;
      }
      &-single {
        color: $itg__white;
      }
    }
    &-highlight {
      display: block;
      position: absolute;
      background-color: $itg__light-blue;
      opacity: 0.4;
    }
  }
  /**
 * Tooltip Styles
 */

  /* Add this attribute to the element that needs a tooltip */
  [data-tooltip] {
    z-index: 2;
    cursor: pointer;
  }

  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid: (DXImageTransform.Microsoft.Alpha(Opacity=0))";
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: $itg__white;
    background-color: $itg__white;
    color: $itg__black;
    border: 1px solid $itg__grey-2;
    content: attr(data-tooltip);
    text-align: center;
    @include p1;
    color: currentColor;
    @include mobile {
      font-size: 1rem;
    }
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    display: none;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  /* Show tooltip content on hover */
  [data-tooltip] {
    &:hover {
      &:after,
      &:before {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: "progid: (DXImageTransform.Microsoft.Alpha(Opacity=100))";
        opacity: 1;
      }
      z-index: 3;
    }
  } /**
 * Tooltip Styles
 */

  /* Add this attribute to the element that needs a tooltip */
  [data-tooltip] {
    z-index: 2;
    cursor: pointer;
  }

  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: "progid: (DXImageTransform.Microsoft.Alpha(Opacity=0))";
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: $itg__white;
    background-color: $itg__white;
    color: $itg__black;
    border: 1px solid $itg__grey-2;
    content: attr(data-tooltip);
    text-align: center;
    @include p1;
    color: currentColor;
    @include mobile {
      font-size: 1rem;
    }
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  /* Show tooltip content on hover */
  [data-tooltip] {
    &:hover {
      &:before,
      &:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: "progid: (DXImageTransform.Microsoft.Alpha(Opacity=100))";
        opacity: 1;
      }
      z-index: 3;
    }
  }
  &--popup {
    position: absolute;
    height: 80%;
    background-color: $itg__white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;
    &.is-active {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s linear;
    }
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      cursor: pointer;
    }
    &-copy {
      position: absolute;
      height: calc(100% - 100px);
      width: calc(100% - 100px);
      padding: 0 20px 20px;
      top: auto;
      bottom: 40px;
      right: 0;
      left: 0;
      margin: auto;
      overflow-y: scroll;
      overflow-x: hidden;

      @include mobile {
        width: calc(100% - 50px);
      }

      &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: $itg__white;
      }

      &::-webkit-scrollbar {
        width: 8px;
        background-color: $itg__white;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: $itg__grey-1;
      }
    }
    &-title {
      @include h5;
    }
    &-content {
      color: $itg__black;
      @include p2;
      @include mobile {
        font-size: 1rem;
      }
    }
  }
  &--clear {
    display: none;
    @include mobile {
      &.is-active {
        display: flex;
        min-height: 60px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 2px solid white;
        color: white;
        @include p1;
        font-weight: 600;
      }
    }
  }
}
