.itgBlock-hero-image {
  margin: 0;
  padding: 100px 116px;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: auto;
  max-height: 697px;
  text-align: left;
  word-wrap: normal;
  width: 100%;
  max-width: 100%;
  &.has_reduced_height {
    //min-height: 416px;
  }

  #breadcrumbs {
    text-align: left;
    a:visited {
      color: inherit;
    }
    .breadcrumb_last {
      font-weight: 500;
    }
  }

  &-container {
    height: 100%;
    width: 100%;
    @include touch {
      //min-height: 60vh;
    }
    @include desktop {
      //min-height: 90vh;
      .has_reduced_height & {
        //min-height: 50vh;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include tablet {
      font-size: 5rem !important;
      font-weight: 700 !important;
      line-height: 6rem !important;
    }
    @include mobile {
      font-size: 2.5rem !important;
      font-weight: 700 !important;
      line-height: 3rem !important;
    }
    * {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    &--mobile-style {
      @include mobile {
        @include p1;
      }
      @include tablet {
        font-size: 1.5rem !important;
        line-height: 2.1rem !important;
      }
    }
    p {
      margin-bottom: 0 !important;
    }
  }

  &__cta-list {
    margin-top: 48px;
    @include until($desktop) {
      margin-top: 18px;
    }
    &-inner {
      .columns {
        &:not(:first-child) {
          margin-left: 24px !important;
        }

        .itgAtom__ItgCTA {
          @include until($desktop) {
            max-width: 80%;
          }
        }
      }
    }
  }
}
