@import "../../abstracts/abstracts";

.itgBlock__ItgForm {
  .columns {
    .column {
      .gform_validation_errors {
        display: none;
      }
      .gform_heading {
        padding-bottom: 56px;

        @include mobile {
          padding-bottom: 50px;
        }

        h2 {
          font-size: 40px !important;
          font-weight: bold !important;
          line-height: 48px !important;
          font-family: $font__main;
          color: $itg__blue-1;
        }
        p {
          display: none;
        }
      }

      form {
        .gfield {
          padding-bottom: 56px;

          @include mobile {
            padding-bottom: 50px;
          }

          .validation_message {
            padding: 0;
            border: none;
            background-color: initial;
            margin-top: 11px;
            color: $itg__red !important;
            line-height: 16px !important;
            font-family: $font__main;
            font-size: 14px !important;
          }
          .gfield_label {
            margin: 0;
            color: $itg__blue-1;
            line-height: 25.6px;
            font-weight: 600;
            font-family: $font__main;
            font-size: 14px;
          }
          .gfield_description {
            color: $itg__grey-1;
            line-height: 25.6px;
            font-family: $font__main;
            font-size: 16px;
          }
          .ginput_container {
            input {
              border-radius: 0;
              border-top: none;
              border-right: none;
              border-left: none;
              border-bottom-color: $itg__grey-1;
              width: 100%;
              outline: none;

              @include mobile {
                padding-top: 0;
              }

              &:active {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-width: 1px;
                border-bottom-color: $itg__blue-3;
                outline: none;
              }

              &:focus {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-width: 1px;
                border-bottom-color: $itg__blue-3;
                outline: none;
              }

              &:invalid {
                border-radius: 0;
                border-top: none;
                border-right: none;
                border-left: none;
                border-width: 1px;
                border-bottom-color: $itg__red !important;
                outline: none;
              }
            }
            textarea {
              border-color: $itg__grey-1;
              outline: none;
              &:active {
                border-width: 1px;
                outline: none;
                border-color: $itg__blue-3;
              }
              &:focus {
                border-width: 1px;
                outline: none;
                border-color: $itg__blue-3;
              }
              &:invalid {
                border-width: 1px;
                outline: none;
                border-color: $itg__red !important;
              }
            }
            label {
              display: none;
            }
          }
        }
        .gform_footer {
          .gform_button {
            height: 56px;
            width: 276px;
            padding: 16px 32px;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 2px solid #003478;
            border-radius: 4px;
            box-sizing: border-box;
            color: $itg__blue-1;
            font-family: $font__main;
            font-weight: 600;
            line-height: 25.6px !important;
            text-align: right;
            font-size: 16px;
            background-color: $itg__white;
          }
        }
      }
    }
  }
}
