@import "../../abstracts/abstracts";

.swiper-container {
  width: 100% !important;
  max-width: 100% !important;
  .swiper-slide {
    .swiper-pagination-bullet {
      height: 12.39px;
      width: 52.25px;
      margin: 10px;
      border-radius: 28px;
      opacity: 0.3;
      background-color: $itg__white;

      &:active {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }

      @include mobile {
        height: 12px;
        width: 55px;
      }
      @include tablet {
        height: 12.39px;
        width: 52.25px;
      }
    }
  }
}

.itgBlock-hero-image {
  padding: 100px 116px !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto !important;
  min-height: auto;
  max-height: 697px !important;
  text-align: left !important;
  word-wrap: normal;

  @include mobile {
    padding: 107px 20px 31px 20px !important;
    max-height: 601px !important;
  }
  @include tablet {
    max-height: 1035px !important;
    padding: 128px 116px !important;
  }

  &.has_reduced_height {
    //min-height: 416px;
  }

  #breadcrumbs {
    text-align: left;
    a:visited {
      color: inherit;
    }
    .breadcrumb_last {
      font-weight: 500;
    }
  }

  &-container {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    @include touch {
      //min-height: 60vh;
    }
    @include desktop {
      //min-height: 90vh;
      .has_reduced_height & {
        //min-height: 50vh;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font__main;
    letter-spacing: 0;
    font-weight: 500 !important;
    line-height: 95px !important;
    font-size: 80px !important;

    @include tablet {
      font-size: 80px !important;
      line-height: 95px !important;
      font-weight: 800 !important;
    }
    @include mobile {
      font-size: 40px !important;
      line-height: 48px !important;
      font-weight: 800 !important;
    }
    * {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    &--mobile-style {
      font-family: $font__main;
      letter-spacing: 0;
      font-size: 24px !important;
      line-height: 33.6px !important;

      @include mobile {
        font-size: 18px !important;
        line-height: 28.8px !important;
      }
      @include tablet {
        font-size: 24px !important;
        line-height: 33.6px !important;
      }
    }
    p {
      margin-bottom: 0 !important;
    }
  }

  &__cta-list {
    margin-top: 48px;
    @include until($desktop) {
      margin-top: 18px;
    }
    &-inner {
      .columns {
        &:not(:first-child) {
          margin-left: 24px !important;
        }

        .itgAtom__ItgCTA {
          @include until($desktop) {
            max-width: 80%;
          }
        }
      }
    }
  }
}
