.itgBlock__ItgAccordion {
  &--eyelet {
    display: flex;
    position: relative;
    @include h6();
    @include mobile {
      @include h6(1.3rem, 1.6rem);
    }
    color: $itg__white;
    background-color: $itg__blue-1;
    border-radius: 2px 32px 0 32px;
    * {
      margin-bottom: 0;
    }
  }

  &--eyelet {
    &::before {
      content: '';
      display: block;
      width: 24px;
      height: 3px;
      background-color: $itg__white;
      position: absolute;
      right: 10px;
      bottom: 25px;

      transform: rotate(90deg);

      transition: 0.5s;
    }
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 3px;
      background-color: $itg__white;
      position: absolute;
      right: 10px;
      bottom: 25px;

      transform: rotate(0deg);
    }
    &.active::before {
      transform: rotate(0deg);
    }
    &:hover {
      cursor: pointer;
    }
  }

  &--title {
    @include mobile {
      @include h6($font-size:1.125rem !important, $line-height: 1.75rem !important);
    }
  }

  &--content {
    display: block;
    margin: 0;
    height: 0;
    overflow: hidden;

    transition: 0.5s;
  }

  &--inner-content {
    background-color: $itg__white;
    border: 2px solid $itg__blue-2;
    border-radius: 32px 0 32px 0;
  }

  &--image {
    @include mobile{
      padding: 0 0;
    }
    @include tablet{
      padding: 0 56px;
    }
  }
  &--link {
    display: inline-block;
    *{
      margin-bottom: 0;
      &[style*=color]{
        border-bottom: 1px solid;
        border-color: currentColor;
      }
    }
  }
}
