@import "atoms/ItgAtomCta";
@import "atoms/ItgSocialIcon";
@import "atoms/ItgNumber";
@import "atoms/ItgAtomVideo";
@import "ItgSample";
@import "ItgQuote";
@import "ItgIntroSection";
@import "ItgCarouselImageCard";
@import "ItgSocialSection";
@import "ItgStories";
@import "ItgReportList";
@import "ItgHeroImage";
@import "ItgSingleLaunch";
@import "ItgVideo";
@import "ItgVideoAndTexts";
@import "ItgCarouselNumbers";
@import "ItgRelatedLaunchesType3";
@import "ItgTextBox";
@import "ItgAccordion";
@import "ItgTabYears";
@import "ItgIconTextType1";
@import "ItgDownload";
@import "ItgIconTextType23";
@import "ItgLancioRatingEsg";
@import "ItgInfogram";
@import "ItgCarouselLaunches";
@import "ItgLogoWall";
@import "ItgContentCarousel";
@import "ItgMatrix";
@import "ItgRelatedLaunchesType12";
@import "ItgIconList";
@import "ItgAccordionCarousel";
@import "ItgStakeholder";
@import "ItgWavedBorder";
@import "ItgTable";
@import "ItgMediaFilter";
@import "ItgAnchorName";
@import "ItgAnchorsButtonsBar";
@import "ItgFocusBox";