
.itgBlock {
    &__ItgAnchorsButtonsBar {

        &__anchor-list {
            padding: 0;
            @include from($desktop) {
                overflow-x: hidden;
            }    
            @include until($desktop) {
                overflow-x: scroll;
            }
            .columns {
                height: 128px;
                @include from($desktop) {
                    height: 158px;
                    -webkit-box-pack: center !important;
                    -ms-flex-pack: center !important;
                    justify-content: center !important;
                }                    
            }
        }
        
        &__anchor {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 2px solid currentColor;
            border-radius: 4px;
            flex: none;
            min-width: 186px;            
            width: 100%;
            span {
              font-weight: 700;
            }
          }

          &__go_up_button {
            position: fixed;
            z-index: 9;
            bottom: 64px;
            padding: 0 !important;
            @include from($desktop) {
                right: 1.5rem;
            }            
            @include until($desktop) {
                left: 50%;
                transform: translateX(-50%);
            }    
            a {                
                background-color: white !important;
            }
          }
        
      }
}

