.itgBlock-quote {

  .is-flex-direction-column-only-touch {
    @include touch {
      flex-direction: column;
    }
  }

  &.itg--background-color-black,
  &.itg--background-color-blue-1,
  &.itg--background-color-blue-2,
  &.itg--background-color-blue-3,
  &.itg--background-color-light-blue {
    .itgBlock-quote__image img {
      border-color: $itg__white;
      box-shadow: 0 4px 24px 16px rgba($itg__blue-1, 0.16);
    }
  }

  padding-top: 48px;
  padding-bottom: 64px;

  @include from($tablet) {
    padding-top: 40px;
    padding-bottom: 48px;
  }

  &__text, &__author {
    @include mobile {
      padding: 0 0.625rem;
    }
  }

  &__image {
    position: relative;
    @include tablet {
      max-width: 152px;
    }
    @include desktop-only {
      max-width: 220px;
      margin-left: auto;
      margin-right: auto;
    }
    @include mobile {
      max-width: 200px;
    }
    @include from($tablet) {
      margin-top: 16px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: -35%;
      right: -15%;
      width: 163px;
      height: 162px;
      background: url('src/images/baloon.svg') right bottom no-repeat;
      background-size: 163px 162px;
      @include from($tablet) {
        background-size: 82px 81px;
        bottom: -25%;
        right: -10%;
      }
      @include from($desktop) {
        width: 122px !important;
        height: 121px !important;
        background-size: 122px 121px !important;
      }
      @include from($widescreen) {
        width: 163px !important;
        height: 162px !important;
        bottom: -35% !important;
        right: -15% !important;
        background-size: 120px 119px!important
      }
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      display: block;
      border-radius: 50%;
      border: 6px solid $itg__light-blue;
      box-shadow: none;
    }
  }

  &__text * {
    color: $itg__blue-1;
    @include tablet {
      @include h5;
    }
    @include mobile {
      @include h6(1.5rem !important, 2.0625rem !important);
    }
  
    @include from($desktop) {
      @include h4;
    }
  }

  &__container {
    @include touch {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    @include tablet-only {
      width: 83.3% !important;
    }
  }

  &__quotes {
    &:before {
      content: "\201c";
    }
    &:after {
      content: "\201d";
    }
  }

  &__author {
    padding-top: 24px;

    @include from($tablet) {
      padding-top: 0;
    }

    * {
      @include p2;
      margin: 0;
    }
    strong {
      color: $itg__blue-1;
    }
  }
}