.itgBlock__VideoAndTexts {
  z-index: 9 !important;
  &--copies {
    @include touch {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }
  &--title {
    * {
      margin-bottom: 0;
    }

    h2, h3, h4, h5, h6 {
      @include mobile {
        font-size: 2rem !important;
        line-height: 2.75rem !important;
      }
      @include tablet {
        font-size: 3.5rem !important;
        line-height: 4.25rem !important;
      }
    }
  }

  &--copy {
    @include tablet {
      font-size: 1.5rem !important;
      line-height: 2.1rem !important;
    }
  }
}
