.itgBlock__logoWall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include touch{
    padding-top: 24px;
  }
  &--container {
    justify-content: center;
    align-items: center;
    @include touch{
      flex-wrap: nowrap !important;
      justify-content: flex-start;
    }
    @include desktop{
      box-sizing: border-box;
    }
  }
  &--single {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $itg__white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
  }
  .swiper-slide{
    @include touch{
      flex: none;
      padding: 0 !important;
    }
  }
}
