.itgBlock-infogram {

  .infogram-embed iframe{
    box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 8px 24px 8px rgba(0,0,0,0.08);
    border-radius: 8px;
}

  .itgAtom__ItgCTA {
    margin: auto;
  }
  p{
    margin: 0;
  }

}