.itgAtom {
  &-number {
    @include mobile {
      margin-bottom: 48px !important;
    }
    &__value {
      color: $itg__blue-2;
      @include h1;
      //font-size: 120px;
      font-size: 70px;
      span {
        display: inline-block;
      }
    }
    &__percentage {
      color: inherit;
      @include p3;
      font-weight: 500;
      padding-left: 5px;
    }
    &__title {
      color: $itg__blue-1;
      @include p2;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__copy {
      @include p1;
    }
  }
}
