.itgAtom {
  &__ItgVideo {
    @include desktop-only{
      top: 50%;
      transform: translateY(-50%);
    }
    position: relative;
    &--texts{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &--eyelet, &--title{
      *{
        margin-bottom: 0;
      }
    }
    &--eyelet{
      position: relative;
      img{
        position: absolute;
        width: 130px;
        bottom: 0;
        left: 10px;
      }
      @include mobile{
        font-size: 1.125rem !important;
        line-height: 1.5rem !important;
      }
    }
    &--title{
      @include mobile{
        font-size: 2rem !important;
        line-height: 2.5rem !important;
      }
    }
    &--video {
      @keyframes video {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      video, iframe {
        &:not(.active) {
          display: none;
        }
        animation-name: video;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-duration: 0.8s;
        position: fixed;
        width: 80%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
      }
      iframe{
        height: 80vh;
      }
      &.image{
        @include mobile {
          height: 430px;
          img{
            width: auto;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    &--overlay {
      &:not(.active) {
        display: none;
      }
      background-image: $itg__transparent-3;
      animation-name: video;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-duration: 0.8s;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .itgAtom__ItgCTA {
      position: absolute;
      bottom: 2.5rem;
      right: 4rem;
      @include mobile{
        bottom: 25px;
        right: 25px;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 70%;
      }
    }
  }
}
